* {
	font-family: 'Raleway', sans-serif;
	color: gray;
}

body {
	background-color: #272727;
	height: 100%;
}

main {
	height: 100%;
	margin-bottom: 40px;
}

.parallax-container {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 1000px;
	margin-top: 20px;
	margin-bottom: 80px;
	border-radius: 10px;
	position: relative;
	box-shadow: 0 15px 20px black;
}

.parallax-container > .caption {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	color: white;
	font-weight: bold;
	letter-spacing: 20px;
}

.container-1 {
	background-image: url(../img/barrels.jpg);
}

.container-2 {
	background-image: url(../img/wine-glass-2.jpg);
}

.container-3 {
	background-image: url(../img/wine-glass.jpeg);
}

.container-4 {
	background-image: url(../img/wine-glass-3.jpg);
}

.container-5 {
	background-image: url(../img/winery.jpeg);
}

main > .container-6 {
	background-image: url(../img/vineyard.jpeg);
	background-position: 75% 50%;
}

.container-7 {
	background-image: url(../img/wine-tasting.jpg);
}

.container-8 {
	background-image: url(../img/vines.jpg);
}

.content-container {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 900px;
	margin-top: 20px;
	margin-bottom: 80px;
	border-radius: 10px;
	position: relative;
	box-shadow: 0 15px 20px black;
}

.content-label {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 100px 30px;
}

.content-label > h4 {
	text-align: center;
	font-weight: bold;
	margin-top: 250px;
	margin-bottom: 50px;
	color: white;
	letter-spacing: 3px;
}

.content-label > p {
	text-align: justify;
	color: lightgray;
	max-height: 200px;
	overflow: hidden; 
}

.content-more-info {
	height: 100%;
	position: relative;
}

.content-more-info:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.content-more-info > p {
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 30px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: white;
	border: 2px solid white;
	text-align: center;
	width: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: lowercase;
}

.footer-social {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top: 10px;
}

.footer-social > p {
	text-align: center;
}

.footer-social a {
	color: lightgray;
	letter-spacing: 30px;
}

.footer-social a:hover {
	text-decoration: none;
	color: white;
}

.footer-reminder > p {
	text-align: right;
}

.footer-reminder a {
	color: gray;
}

.footer-reminder a:hover {
	text-decoration: none;
	color: white;
}

.img-vineyard {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 50px;
	border-radius: 10px;
	box-shadow: 0 15px 20px black;
}

@media only screen and (max-width: 765px) {
	#navBar > a > img {
		width: 90px;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
	}

	a.fa {
		color: gray;
		font-size: 17px;
		margin: 20px;
		display: inline;
	}

	a.fa:hover {
		color: white;
		text-decoration: none;
	}

	main {
		margin: 40px 0 0 0;
		padding: 0;
	}

	.navbar-fixed-left .navbar-nav > li .dropdown-menu {
		margin-top: 0;
		margin-left: 0;
	}

	.parallax-container {
		height: 500px;
	}

	.parallax-container > .caption {
		font-size: 13px;
		letter-spacing: 10px
	}

	.content-container {
		height: 500px;
	}

	.content-label {
		height: 50%;
		padding: 20px;
	}

	div.content-label > h4 {
		margin-top: 5px;
	}

	div.content-label > p {
		height: 100px;
	}

	.content-more-info {
		height: 50%;
	}

	.footer-address,.footer-reminder p {
		text-align: center;
		margin: 20px auto;
	}

	.footer-social {
		letter-spacing: 0;
	}
}


/* font-size for parallax captions on specific width */
@media only screen and (min-width: 766px) and (max-width: 969px) {
	.parallax-container > .caption {
		font-size: 15px;
		letter-spacing: 10px
	}

}

/* Responsive web design for a specific width (eg. iPad)*/
@media only screen and (min-width: 500px) and (max-width: 995px) {
	.content-label {
		width: 50%;
		height: 100%;
		padding-top: 100px;
	}

	.content-label > h4 {
		margin-top: 200px;
	}

	.content-more-info {
		width: 50%;
		height: 100%;
	}

	.footer-address,.footer-reminder p {
		text-align: center;
		margin: 20px auto;
	}	
}

@media only screen and (min-width: 767px) {
	#navBar {
		height: 100%;
		margin: 0;
		background-image: none;
		background-color: transparent;
	}

	.navbar-fixed-left .navbar-nav {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.navbar-nav > li {
		float: none;
		width: 139px;
		margin: 40px 0;
	}

	.navbar-nav > li > a {
		text-align: center;
	}

	.navbar-nav 
	> li 
	> a 
	> p {
		font-size: 16px;
		text-shadow: 0 10px 5px black;
	}

	.navbar-nav 
	> li 
	> a 
	> p:hover {
		color: white;
	}

	#navBar > a > img {
		margin: 20px auto;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		padding: 0;
		box-shadow: 0 10px 10px black;
	}

	

}